<?xml version="1.0"?>
<configuration>
  <!-- Configuration section-handler declaration area. -->
  <configSections>
    <sectionGroup name="RealtaSectionGroup">
      <section name="R_DBSection" type="R_BackEnd.R_DBSection, REL_BackEnd"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <!-- Configuration section settings area. -->
  <!--ConnectionString="server=.;Initial Catalog=Realta_DB;User ID=sa;Password=F8093F6CAEAFDDC975507D0EEBD760E4;"-->
  <!--<add Name="R_DefaultConnectionString"
             ConnectionString="server=.;Initial Catalog=Realta_DB;User ID=sa;Password=F8093F6CAEAFDDC975507D0EEBD760E4;"
             ProviderName="System.Data.SqlClient"
             KeywordForPassword="Password" />-->
  <!--<add Name="R_DefaultConnectionString" ConnectionString="server=172.16.0.62\SQL2017;Initial Catalog=SIAPP_WEB_TEST;User ID=sa;Password=67D09849978483323E213BDD2423583E;" ProviderName="System.Data.SqlClient" KeywordForPassword="Password" />
  <add Name="R_ReportConnectionString" ConnectionString="server=172.16.0.62\SQL2017;Initial Catalog=SIAPP_WEB_TEST;User ID=sa;Password=67D09849978483323E213BDD2423583E;" ProviderName="System.Data.SqlClient" KeywordForPassword="Password" />-->
  <RealtaSectionGroup>
    <R_DBSection CommandTimeout="600">
      <R_DBConfigs>
        <add Name="R_DefaultConnectionString" ConnectionString="server=.;Initial Catalog=Realta_DB;User ID=sa;Password=F8093F6CAEAFDDC975507D0EEBD760E4;" ProviderName="System.Data.SqlClient" KeywordForPassword="Password"/>
        <!--<add Name="R_MasterConnectionString"
             ConnectionString="server=.;Initial Catalog=master;User ID=sa;Password=F8093F6CAEAFDDC975507D0EEBD760E4;"
             ProviderName="System.Data.SqlClient" 
             KeywordForPassword="Password" />-->
        <!--<add Name="R_DefaultConnectionString" ConnectionString="server=172.16.0.62\SQL2017;Initial Catalog=SIAPP_WEB_TEST;User ID=sa;Password=67D09849978483323E213BDD2423583E;" ProviderName="System.Data.SqlClient" KeywordForPassword="Password" />
      <add Name="R_ReportConnectionString" ConnectionString="server=172.16.0.62\SQL2017;Initial Catalog=SIAPP_WEB_TEST;User ID=sa;Password=67D09849978483323E213BDD2423583E;" ProviderName="System.Data.SqlClient" KeywordForPassword="Password" />-->
      </R_DBConfigs>
    </R_DBSection>
  </RealtaSectionGroup>
  <log4net>
    <appender name="EmailAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\VS2010\Telerik - Realta Enterprise Library\Test\log\EmailEngineLog"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <staticLogFileName value="false"/>
      <datePattern value="_yyyy.MM.dd.lo\g"/>
      <maximumFileSize value="1000KB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="ContextAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Test\log\ContextLog"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <staticLogFileName value="false"/>
      <datePattern value="_yyyy.MM.dd.lo\g"/>
      <maximumFileSize value="1000KB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="BackUpAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <conversionPattern value="D:\VS2010\Telerik - Realta Enterprise Library\Test Projects\TestBackupRestore\Backup\BackupResult\%date{yyyy.MM.dd}_BackUpLog.log"/>
      </file>
      <appendToFile value="true"/>
      <maximumFileSize value="1000KB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy.MM.dd HH:mm:ss} %level %thread %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
    </root>
    <!--<logger name="R_BackEnd.R_ContextLogger">
      <level value="DEBUG" />
      <appender-ref ref="ContextAppender" />
    </logger>-->
    <logger name="TelerikMenuService.Log">
      <level value="DEBUG"/>
      <appender-ref ref="ContextAppender"/>
    </logger>
    <logger name="R_EmailEngine">
      <level value="DEBUG"/>
      <appender-ref ref="EmailAppender"/>
    </logger>
    <logger name="R_BackEnd.EmailEngine">
      <level value="DEBUG"/>
      <appender-ref ref="EmailAppender"/>
    </logger>
    <logger name="R_BackEnd.R_LockingLogger">
      <level value="DEBUG"/>
      <appender-ref ref="EmailAppender"/>
    </logger>
    <logger name="TelerikMenuService.R_LockingServiceLogger">
      <level value="DEBUG"/>
      <appender-ref ref="EmailAppender"/>
    </logger>
    <logger name="DigitalSignatureBack.DigitalSignatureLog">
      <level value="DEBUG"/>
      <appender-ref ref="EmailAppender"/>
    </logger>
    <logger name="R_Common.R_GeneralExceptionLogger">
      <level value="DEBUG"/>
      <appender-ref ref="ContextAppender"/>
    </logger>
    <logger name="R_Common.R_MessageLogger">
      <level value="DEBUG"/>
      <appender-ref ref="EmailAppender"/>
    </logger>
  </log4net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="714400"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="ServiceContext" type="R_BackEnd.R_TokenContextBehavior, REL_BackEnd"/>
        <!--<add name="ServiceContext" type="R_BackEnd.R_InternalContextBehavior, REL_BackEnd" />-->
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultEndPointBehavior">
          <ServiceContext/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DefaultServiceBehavior">
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentSessions="160" maxConcurrentInstances="16"/>
          <serviceMetadata httpsGetEnabled="true" httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpsGetEnabled="true" httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="RegularBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" messageEncoding="Mtom" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
        <binding name="StreamingBinding" transferMode="StreamedResponse" maxReceivedMessageSize="9223372036854775807" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <readerQuotas maxArrayLength="50000000"/>
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <appSettings>
    <add key="R_SerialNo" value="8BF4F2C0573BCBC2CB231D05EDF57493F20C05B9BC12030F69BA701F24279B39"/>
    <add key="R_SQL_TEMP_DIR" value="C:\Realta"/>
    <add key="R_VersionLogger" value="D:\log.log"/>
    <!--<add key="R_IsMultiTenant" value="1"/>-->
    <!--<add key="R_WithForceLogout" value="1"/>-->
    <!--<add key="R_WithGeneralException" value="1"/>-->
    <!--<add key="R_SecurityEnabled" value="1"/>-->
  </appSettings>
</configuration>