<configuration>
  <packageSources>
    <add key="Realta Nuget" value="https://www1.realta.net/realtanuget/nuget" />
  </packageSources>
<!--  
  <packageSourceCredentials>
    <Realta Nuget>
      <add key="Username" value="myusername" />
      <add key="ClearTextPassword" value="xq6n4lvnayeo2f467osasdasdgj4nat7xw2mkm7qwowvqeutjdueq" />
      <add key="ValidAuthenticationTypes" value="basic" />
    </Realta Nuget>
  </packageSourceCredentials>
-->
  
</configuration>
